.hero {
  display: flex;
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  line-height: 1.1;
  padding-left: 180px;
}
.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}
.head {
  color: #171717;
  font-size: 60px;
  font-weight: 500;
}
.hello-section {
  display: flex;
  align-items: center;
  gap: 20px;
}.hello-section img{
    width: 105px;
}.hero-latest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 70px;
    gap: 15px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    background: #ff4141;
    border-radius: 75px;
    color: white; 
}.hero-latest-btn img{
    width: 30px;
    
}.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}.hero-right img{
    width: 600px;
}


@media (max-width:500px){
  .hero{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    
  }.hero-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
  }
  .hero-right{
    display: none;
  }.hero-left h2{
    font-size: 18px;
  }.hero-left p{
    font-size: 50px;
  }.hello-section img{
    width: 50px;
  }.hero-latest-btn {
    width: 200px;
    height: 45px;
    
  }.hero-latest-btn p{
    font-size: 14px;
  }
}