.descriptionBox{
    margin: 120px 170px;

}.descriptionBox_navigator{
    display: flex;
    gap: 20px;
}.descriptionBox_nav_box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}.descriptionBox_nav_box.fade{
    background: #fbfbfb;
    color: #555;
}.descriptionBox_description{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 48px; 
    border: 1px solid #d0d0d0;
}

@media (max-width:500px) {
    .descriptionBox{
        margin: 20px;
    }
    
}